{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Mis Perris</title>
  <!-- ARCHIVOS CSS---------------------------------------------------------------------------------------------->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/crud-estilo.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'CSS/index-estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="{% static 'JS/crud-js.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/bootstrap.min.js' %}"></script>
  
  </head>
 <body>

    <div class="container" style="width:100%;">

      <!--MENU------------------------------------------------------------------------------------->
      <nav class="row">
          <div class="col-xs-12 col-sm-3">
            <img  src="{% static 'IMG/logo.png' %}" id="logo" alt="no se pudo cargar la imagen">  
          </div>
          <div class="col-xs-12 col-sm-3 menu">
            <a href="{% url 'rescatado_list' %}" style="color:white;">Inicio</a>
          </div>
          <div class="col-xs-12 col-sm-3 menu boton" style="margin-bottom:3%;">
            <a href="{% url 'index' %}" style="color:white;">Cerrar Sesión</a>
          </div>
        </nav>
      <!--------------------------------------------------------------------------------------------->



      <!--TABLA-------------------------------------------------------------------------------------->
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-xs-9 col-md-8 col-sm-9 col-lg-9">
              <h2>Administración de <b>Rescatados</b></h2>
            </div>
          </div>
        </div>

        {% block content %}
        <form method="post">
          {% csrf_token %}
          <h3>¿Está Seguro(a) que quiere eliminar el registro ?</h3>
          <button class="btn btn-danger" type="submit">Sí, Eliminar</button>
         </form>
        {% endblock %}
      </div>

    </div>
  </body>